{:deps         true
 :nrepl {:host "0.0.0.0"
         :port #shadow/env ["SHADOWCLJS_NREPL_PORT" :as :int :default 8899]}
 :http {:port #shadow/env ["SHADOWCLJS_HTTP_PORT" :as :int :default 9630]
        :host "0.0.0.0"}
 :builds {:main {:target :browser
                 :output-dir "out"
                 :asset-path "./"
                 :module-loader true
                 :modules {:main {:entries [Lang.Biehn.main]
                                  :init-fn Lang.Biehn.main/-main}}
                 :compiler-options {:infer-externs   false #_:auto
                                    :closure-warnings {:global-this :off}
                                    :closure-defines  {"Lang.Biehn.main.some-var" true}
                                    :warnings {:fn-deprecated false}}
                 :devtools {:repl-init-ns Lang.Biehn.main
                            :repl-pprint true
                            :autobuild true
                            :after-load Lang.Biehn.main/reload
                            :devtools-url "http://localhost:9630"
                            :http-root  "out/jar/ui"
                            :http-port  #shadow/env ["SHADOWCLJS_DEVTOOLS_HTTP_PORT" :as :int :default 9500]}}}}